h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
form.login {
  width: 300px;
  margin: 0 auto;
  padding-top: 50px;
}
form.login.register {
  width: 330px;
}
form.login input {
  margin: 0 0 10px 0;
}
.spacer {
  display: block;
  width: 1px;
  height: 10px;
  clear: both;
}
