.reset-padding-margin() {
  padding: 0;
  margin: 0;
}

.generate-spacer(@height : 10px) {
  display: block;
  width: 1px;
  height: @height;
  clear: both;
}

h1, h2, h3, h4, h5, h6, p {
  .reset-padding-margin();
}

form {
  &.login {
    width: 300px;
    &.register{
      width: 330px;
    }
    margin: 0 auto;
    padding-top: 50px;
    input {
      margin: 0 0 10px 0;

    }
  }
}

.spacer {
  .generate-spacer();
}